

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: aliceblue;
    background-color: black;
    padding: 0 1rem;
}
.titulo-header{
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}
.titulo-header span{
    padding: 1rem;
}
.titulo-header h1{
    font-size: 1.5rem;
}
.prop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}
@media (max-width:610px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
@media (max-width:467px){
    .titulo-header h1{
        font-size: 1rem;
        text-align: center;
    }
}
@media (max-width:610px){
    .titulo-header span{
        display: none;
    }
}

.cardapio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    gap: 0.5rem;
}
@media (max-width:310px){
    .cardapio h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .cardapio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}